/* ====== start responsive ========== */
@media (max-width:991px) {
    .contact-top.float-right{
        float: initial !important;
        text-align: center;
    }
    .service_details_img{
        margin-bottom: 70px;
    }
    .border-left{
        border: none !important;
        border-top: 1px solid #096780 !important

    }
    .header .header_search{
        margin-right: 50px;
    }
    .about_img img:nth-child(2){
        position: initial;
        margin-top: 30px;
    }
    .about_img::before{
        content: none;
    }
    .about_area{
        margin-bottom: 0 !important;
    }
}

@media (max-width:767px) {
    .top-header {
        padding: 10px 0;
    }
    .banner_top h2{
        font-size: 20px;
        line-height: 25px;
    }
   
    .main-slider .owl-carousel .owl-nav .owl-next,.main-slider .owl-carousel .owl-nav .owl-prev {
        opacity: 0;
    }
   .about-title{
    font-size: 20px;
   }
   .sec-p {
    font-size: 15px;
    line-height: 25px;
}
    .breadcrumb_content h1{
        font-size: 34px;
        line-height: 40px;
    }
    .breadcrumb-link li {
        font-size: 15px;
    }
    .main-title{
      display: block;
    }
    .top-title {
        margin-bottom: 14px;
    }
    .mt-100 {
        margin-top: 40px;
    }
    .pb-100 {
        padding-bottom: 40px;
    }
    .sec-title h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .py-100 {
        padding: 50px 0;
    }
    .loader-inner:before {
        font-size: 40px;
    }
    .md-footer {
        padding: 40px 0;
    }
    #back-to-top {
        bottom: 50px;
        font-size: 16px;
    }
    .team-img {
        margin-top: 40px;
    }
    .portfolio_filter .work_portfolio_item + .work_portfolio_item {
        margin-right: 0;
        font-size: 12px;
    }
    /*************************************************************/
    .header .open_search {
        top: 100px;
        right: 0;
        width: 100%;
    }
    .featured{
        padding: 30px 0;
        text-align: center;
    }
    .featured-item .main-title{
        font-size: 26px;
        margin-bottom: 35px;
    }
    
    .blog-details{
        display: block;
        height: auto;
    }
    .blog-details .blog-img,.blog-details .blog-info{
        width: auto;
    }
    .client-img{
        width: auto;
    }
    .doctors{
        padding: 100px 0 120px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
  
}

@media (min-width:992px) and (max-width: 1024px) {
   
}


@media (max-width: 500px){
   
}
