/* ====== start responsive ========== */
@media (max-width:991px) {
    .contact-top.float-right{
        float: initial !important;
        text-align: center;
    }
    .service_details_img{
        margin-bottom: 70px;
    }
    .border-left{
        border: none !important;
        border-top: 1px solid #096780 !important

    }
    .header .header_search{
        margin-left: 50px;
    }
   
    .nav-toggle {
        left: 0;
        right: auto;
    } 
    
    .about_area{
        margin-bottom: 0 !important;
    }
    .blog-details{
        display: block;
        height: auto;
    }
    .blog-details .blog-img,.blog-details .blog-info{
        width: auto;
        /* height: 300px; */
    }
    .nav-dropdown,.nav-dropdown>li>a{
        background: transparent;
    }
    .nav-dropdown>li>a{
        color: #fff;
        padding: 10px 0 !important;
        font-size: 16px;
        max-width: 100%;
    }
    header.navbar_fixed{
        backdrop-filter:initial
    }
    .main-slider .owl-carousel .owl-nav .owl-next,.main-slider .owl-carousel .owl-nav .owl-prev {
        opacity: 0;
    }
    .featured-2 .featured-item .main-title{
        font-size: 25px;
        margin: 10px 0;
    }
    .main-slider, .main_item{
        height: 70vh;
    }
    .serv.pr_50{
        padding-right: 0;
        padding-left: 0;
    }
    .breadcrumb_area{
        height: 40vh;
       }
       .side-card li a{
        padding: 10px;
        font-size: 10px;
       }
       .btn-book.m-btn .read-more {
        margin: 0 10px;
    }
    .m-none.mb_50{
margin: 0;
    }
    .about_area.mt_70{
margin-top: 0;
    }
    .sec-offer .offer-img{
        height: 155px;
    }
   .sec-service .pro-img{
        height: 250px;
    }
    
    .doctors .doc-img {
        height: 170px;
        width: 170px;
    }
    .offers-details .sec-offer .offer-img{
        height: auto;
    }
    .sec-checkout .offer-img{
        height: 130px !important;
    }
}

@media (max-width:767px) {
    .featured-2 .featured-item .main-title {
        font-size: 20px;
    }
    .top-header {
        padding: 10px 0;
    }
    .banner_top h2{
        font-size: 20px;
        line-height: 25px;
    }
   
    .about_img::before{
        content: none;
    }
   .about-title{
    font-size: 20px;
   }
   .sec-p {
    font-size: 15px;
    line-height: 25px;
   }
  
    .breadcrumb_content h1{
        font-size: 25px;
        line-height: 35px;
    }
    .breadcrumb-link li {
        font-size: 15px;
    }
    .main-title{
      display: block;
    }
    .top-title {
        margin-bottom: 14px;
    }
    .mt-100 {
        margin-top: 40px;
    }
    .pb-100 {
        padding-bottom: 40px;
    }
    .sec-title h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .py-100 {
        padding: 50px 0;
    }
    .loader-inner:before {
        font-size: 40px;
    }
    .md-footer {
        padding: 40px 0;
    }
    #back-to-top {
        bottom: 50px;
        font-size: 16px;
    }
    .team-img {
        margin-top: 40px;
    }
    .portfolio_filter .work_portfolio_item + .work_portfolio_item {
        margin-right: 0;
        font-size: 12px;
    }
    /*************************************************************/
    .header .open_search {
        top: 100px;
        right: 0;
        width: 100%;
    }
    .featured{
        padding: 30px 0;
        text-align: center;
    }
    .featured-item .main-title{
        font-size: 26px;
        margin-bottom: 35px;
    }
    
    
    .client-img{
        width: auto;
    }
    .doctors{
        padding: 100px 0 120px;
    }
     .about_img img:nth-child(2){
        position: initial;
        margin-top: 30px;
    }
    .sticky{
        position: initial;
    }
    .card-input-element + .card{
        min-width: 80px;
        margin: 0 0 0 5px;
       }
       .sec-checkout{
        padding-bottom: 40px;
       }
       .sec-checkout .off-info{
        padding: 20px 0 10px;
       }
       .sec-checkout .off-details {
        flex: 0 0 40%;
    }
    .sec-checkout .number{
        position: absolute;
    bottom: 10px;
    left: 10%;
    }
    .sec-offer .offer-img,.sec-service .pro-img{
        height: 270px;
    }
    .offer-grid > div {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
  
    .sec-doctor{
        padding: 20px;
    }
   
}
@media (min-width:1024px) and (max-width: 1050) {
    .main-slider, .main_item{
        height: 50vh;
    }
}

@media (min-width:1024px) and (max-width: 1366px) {
    .nav-menu>li>a{
        padding: 20px 5px;
        font-size: 12px;
    }
    .nav-menus-wrapper{
        width: 70%;
    }
   
    .main_carousel .owl-nav button.owl-prev{
        right: 20px;
    }
    .main_carousel .owl-nav button.owl-next{
        left: 20px;
    }
    .sec-doctor{
        padding: 25px;
    }
    .blog-details{
        height: 300px;
    }
    .breadcrumb_area{
        height: 40vh;
       }
       .card-input-element + .card{
        min-width: 100px;
        margin: 0 0 0 5px;
       }
}


@media (min-width:500px) and (max-width: 750px) {
    .main-slider, .main_item {
        height: 90vh;
    }
}
