/*====================================================*/
/*=== fonts ====*/
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Nunito Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito Sans:wght@200&family=Nunito+Sans:wght@200&display=swap');

/*===== color =====*/
/*====================================================*/
/*====================================================*/
a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}
body {
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0px;
  color: #677294;
  padding: 0px;
  overflow-x: hidden;
  z-index: 0;
}
.body_wrapper {
  z-index: 20;
  /* overflow: hidden; */
}

a,
.btn,
button {
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (min-width: 1250px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

.container.custom_container {
  max-width: 1520px;
}

.f_p {
  font-family: "Nunito Sans", sans-serif;
}

.mt_10 {
  margin-top: 10px;
}

.mt_20 {
  margin-top: 20px;
}

.mt_60 {
  margin-top: 60px;
}

.mt_50 {
  margin-top: 50px;
}

.mt_30 {
  margin-top: 30px;
}

.mt_40 {
  margin-top: 40px;
}

.mt_70 {
  margin-top: 70px;
}

.mt_75 {
  margin-top: 75px;
}

.mt_100 {
  margin-top: 100px;
}

.mt_130 {
  margin-top: 130px;
}

.mb_70 {
  margin-bottom: 70px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_15 {
  margin-bottom: 15px;
}

.mb_30 {
  margin-bottom: -30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb_40 {
  margin-bottom: 40px;
}

.mb_50 {
  margin-bottom: 50px;
}

.mb-50 {
  margin-bottom: -50px;
}

.mb_60 {
  margin-bottom: 60px;
}

.mb_90 {
  margin-bottom: 90px;
}

.pl_20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pl_30 {
  padding-left: 30px;
}

.pl_40 {
  padding-left: 40px;
}

.pl_50 {
  padding-left: 50px;
}

.pl_100 {
  padding-left: 100px;
}

.pl_70 {
  padding-left: 70px;
}

.pl_120 {
  padding-left: 120px;
}

.pr_100 {
  padding-right: 100px;
}

.pr_120 {
  padding-right: 120px;
}

.pr_70 {
  padding-right: 70px;
}

.pr_50 {
  padding-right: 50px;
}

.pr_30 {
  padding-right: 30px;
}

.pr_20 {
  padding-right: 20px;
}

.pt_150 {
  padding-top: 150px;
}

.pb_50 {
  padding-bottom: 50px;
}

.pt_120 {
  padding-top: 40px;
}
.pt_20{
padding-top: 20px;
}
.pt_40{
padding-top: 40px;
}
.sec_pad {
  padding: 70px 0 !important;
}
.pt-0{
  padding-top: 0 !important;
}

ul {
  margin: 0;
  list-style: none;
}

.list-inline>li {
  display: inline-block;
}

.form-control {
  position: relative;
  display: block;
  width: 100%;
  line-height: 26px;
  padding: 10px 22px;
  height: 48px;
  color: #677294;
  font-size: 14px;
  border: 1px solid #bbbbbb;
  background-color: #ffffff;
  transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  border-radius: 0;
}

.form-control:focus,
.form-control[type="text"]:focus,
.form-control[type="email"]:focus,
textarea.form-control:focus {
  border-color: #634091;
  box-shadow: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  height: 100%;
  background: url(../img/calendar.png) 100%  center / contain no-repeat !important;

}
.sec-form .form-control{
    height: 55px !important;
    color: #677294;
    border-color: transparent;
    border-radius: 30px;
    background: rgb(99 64 145 / 10%);
}
.sec-form textarea.form-control {
  height: auto !important;
  min-height: 160px !important;
  resize: none;
}
.custom-select {
  background: #6340911a url(../img/down-arrow-svgrepo-com.svg) 5%  center / 20px 20px no-repeat !important;
}
.bg-white{
  background: #fff !important;
}
select option  {
  color: #555;
}
/*====================================================*/
/*====================================================*/
/*************************** loader ****************************/
.loader0 {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999991;
  background-color: #634091;
}
.loader0 img{
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.loader-inner:before {
  content: url();
  display: block;
  font-size: 10em;
  text-transform: uppercase;
  left: 0;
  position: absolute;
  top: 30%;
  width: 100%;
  transform: translateY(-150%);
  -moz-transform: translateY(-150%);
  -webkit-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  right: 0;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 10px;
  opacity: 1;
  text-shadow: 5px 5px 0 #fff
}

.loader-inner {
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  right: 0;
  margin: 0 auto
}

.loader-inner .dot {
  width: 7px;
  height: 7px;
  background-color: #fff;
  display: block;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  animation-name: dot_move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
  -moz-animation-name: dot_move;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 0.2s;
  -ms-animation-name: dot_move;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 0.2s;
  -webkit-animation-name: dot_move;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.2s
}

.loader-inner .dot1 {
  margin-left: -40px;
  animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s
}

.loader-inner .dot2 {
  margin-left: -20px;
  animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s
}

.loader-inner .dot3 {
  margin-left: 20px;
  animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s
}

.loader-inner .dot4 {
  margin-left: 40px;
  animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s
}

@keyframes dot_move {
  0% {
    left: 0%;
    opacity: 0
  }

  30% {
    left: 50%;
    opacity: 1;
    height: 7px
  }

  40% {
    height: 35px
  }

  60% {
    height: 7px
  }

  80% {
    left: 50%;
    opacity: 1
  }

  100% {
    left: 100%;
    opacity: 0
  }
}

@-moz-keyframes dot_move {
  0% {
    left: 0%;
    opacity: 0
  }

  30% {
    left: 50%;
    opacity: 1;
    height: 7px
  }

  40% {
    height: 35px
  }

  60% {
    height: 7px
  }

  80% {
    left: 50%;
    opacity: 1
  }

  100% {
    left: 100%;
    opacity: 0
  }
}

@-webkit-keyframes dot_move {
  0% {
    left: 0%;
    opacity: 0
  }

  30% {
    left: 50%;
    opacity: 1;
    height: 7px
  }

  40% {
    height: 35px
  }

  60% {
    height: 7px
  }

  80% {
    left: 50%;
    opacity: 1
  }

  100% {
    left: 100%;
    opacity: 0
  }
}

/******************************************************************/
/*============== header area css ==============*/
header{
  position: absolute;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;
    transition: all .5s ease;
    /* background: rgb(90 68 149 / 30%); */
}
/* start top header */
.top-header {
  position: relative;
  border-bottom: 1px solid #ececec42;
  transition: all 0.5s linear;
  padding: 15px 0;
}

.top-header li {
  padding: 0 0 0 15px;
  margin: 0;
  display: inline-block;
}

.top-header .social {
  display: flex;
  align-items: center;
}

.top-header .social li {
  text-align: center;
  padding: 0;
}
.top-header .social li a{
  font-size: 15px;
    margin-left: 5px;
    line-height: 32px;
    width: 30px;
    height: 30px;
    display: inline-block;
    color: #634091;
    background: #fff;
    border-radius: 50%;
}
.top-header .contact-top li a {
  font-size: 15px;
  color: #fff;
}

.top-header .contact-top li a i {
  color: #75e0e3;
}

.sticky_logo img+img {
  display: none;
}

@media (min-width: 992px) {
  .mobile_btn {
    visibility: hidden;
    display: none;
  }
}

/* start navbar */

.navigation {
  width: 100%;
  height: 60px;
  display: table;
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
  background-color: transparent;
  text-transform: capitalize;

}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.social-menu{
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}
.header .phone.menu-book i{
  color: #634091;
}
.header .phone.menu-book a{
  background: #75e0e3;
  color: #634091;
  width: 80%;
  margin: 20px auto;
  padding: 20px 25px;
}
.nav-toggle,
.navigation-hidden .nav-header {
  display: none
}

.navigation-portrait {
  height: 48px
}

.navigation-fixed {
  position: fixed;
  top: 0;
  left: 0
}

.navigation-hidden {
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important
}

.align-to-right {
  float: right
}

.nav-header {
  float: left
}

.nav-brand {
  /* line-height: 70px; */
  font-size: 24px;
  text-decoration: none !important
}

.navigation-portrait .nav-brand {
  font-size: 18px;
  line-height: 48px;
  text-align: initial;
}

.nav-logo>img {
  height: 48px;
  margin: 11px auto;
  padding: 0 15px;
  float: left
}

.nav-logo:focus>img {
  outline: initial
}

.deatils ul li a,
.indicate a,
.menu__link:focus,
.menu__link:hover,
nav a,
nav a:focus,
nav a:hover {
  outline: 0
}

.navigation-portrait .nav-logo>img {
  height: 36px;
  margin: 6px auto 6px 15px;
  padding: 0
}

.nav-toggle {
  width: 40px;
  height: 40px;
  padding: 7px;
  border-radius: 100%;
  position: absolute;
  top: 4px;
  right: 0;
  cursor: pointer;
  background: #75e0e3;
}

.nav-toggle:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    left: 0;
    right: 0;
    top: 14px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0.4em 0 0 #fff, 0 0.8em 0 0 #fff;
}


.navigation-portrait .nav-toggle {
  display: block
}
.nav-menus-wrapper{
  width: 76%;
  text-align: center;
}
.navigation-portrait .nav-menus-wrapper {
  width: 320px;
  height: 100%;
  top: 0;
  right: -400px;
  position: fixed;
  background-color: #fff;
  z-index: 20000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition-duration: .8s;
  transition-timing-function: ease;
  padding-top: 15px;
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right {
  right: auto;
  left: -400px
}

.nav-menus-wrapper.nav-menus-wrapper-open {
  right: 0
}

.nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open {
  left: 0
}

.nav-menus-wrapper-close-button {
  width: 30px;
  height: 25px;
  text-align: center;
  margin: 0 7px;
  display: none;
  float: right;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
.menu-logo {
  display: none;
  padding: 0 10px;
  text-align: center;
  margin: 30px 0;
}
.menu-logo img {
  width: 100px;
}
.navigation-portrait .nav-menus-wrapper-close-button,
.navigation-portrait .menu-logo {
  display: block
}
.nav-menu {
  margin: 0;
  padding: 0;
  line-height: normal;
  display: inline-block;
}
.navigation-portrait .nav-menu {
  width: 100%
}
.navigation-landscape .nav-menu.nav-menu-centered {
  float: none;
  text-align: center
}

.nav-menu>li {
  display: inline-block;
}

.navigation-portrait .nav-menu>li {
  width: 100%;
  position: relative;
  border-top: solid 1px rgb(255 255 255 / 10%);
}

.navigation-portrait .nav-menu>li:last-child {
  border-bottom: solid 1px rgb(255 255 255 / 10%);
}

.nav-menu+.nav-menu>li:first-child {
  border-top: none
}

.navigation-landscape .nav-menu.nav-menu-centered>li {
  float: none
}

.nav-menu>li>a {
  padding: 20px 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #fff
}

.nav-menu>li.custom {
  margin-right: 15px;
}

.nav-menu>li.custom1 {
  margin-right: 40px;
}

.nav-menu>li.custom>a {
  background: #75e0e3;
  background: linear-gradient(94deg, rgb(241 206 119) 0%, rgb(216 176 82) 100%);
  color: #fff;
  border-radius: 30px;
  padding: 9px 15px 9px 15px;
  font-size: 12px;

}

.nav-menu>li.custom.custom1>a {
  background: #2c2a2b;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 23px;
  text-align: center;
  padding: 7px 0;
}

.navigation-portrait .nav-menu>li>a {
  height: auto;
  width: 100%;
  padding: 12px 15px 12px 26px;
  text-align: left;
}

.nav-menu>.active>a,
.nav-menu>.focus>a,
.nav-menu>li:hover>a {
  color: #75e0e3
}
.nav-menu>li>a>[class*=ion-] {
  width: 16px;
  display: inline-block;
  transform: scale(1.8)
}

.submenu-indicator {
  margin-left: 6px;
  margin-top: 7px;
  float: right;
  transition: all .3s
}

.navigation-portrait .submenu-indicator {
  width: 54px;
  height: 44px;
  margin-top: 0;
  position: absolute;
  text-align: center;
  z-index: 20000
}

.submenu-indicator-chevron {
  height: 6px;
  width: 6px;
  display: block;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: transparent #fff #fff transparent;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: border .3s
}

.navigation-portrait .submenu-indicator-chevron {
  position: absolute;
  top: 18px;
  right: 24px
}

.nav-menu>.active>a .submenu-indicator-chevron,
.nav-menu>.focus>a .submenu-indicator-chevron,
.nav-menu>li:hover>a .submenu-indicator-chevron {
  border-color: transparent #75e0e3 #75e0e3 transparent
}

.navigation-portrait .submenu-indicator.submenu-indicator-up {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

.nav-overlay-panel {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  position: fixed;
  display: none;
  z-index: 19999
}
.no-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden
}
.nav-button,
.nav-text {
  display: inline-block;
  font-size: 14px
}
.navigation-portrait .nav-search-close-button {
  top: 10px;
  right: 14px
}
.nav-button {
  margin: 18px 15px 0;
  padding: 8px 14px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  background-color: #0b2d47;
  transition: opacity .3s
}
.nav-dropdown {
  min-width: 180px;
  margin: 0;
  padding: 15px 30px;
  display: none;
  position: absolute;
  z-index: 98;
  white-space: nowrap;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
}
.navigation-portrait .nav-dropdown {
  width: 100%;
  position: static;
  left: 0
}
.nav-dropdown .nav-dropdown {
  left: 100%
}

.nav-dropdown>li {
  width: 100%;
  float: left;
  clear: both;
  position: relative;
  text-align: left
}
.nav-dropdown>li>a {
  padding: 10px 0;
  float: left;
  font-size: 14px;
  /* font-weight: 700; */
  color: #2c2a2b;
  background-color: #fff;
  transition: all .5s ease;
  white-space: pre-line;
  max-width: 180px;
}
.nav-dropdown>li>a::before{
  content: "";
  height: 1.5px;
  width: 0;
  position: absolute;
  left: 0;
  background: #b290e0;
  bottom: 0;
  -webkit-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
}
.nav-dropdown>li>a:hover:before{
  width: 100%;
}
.nav-dropdown>.focus>a,
.nav-dropdown>li:hover>a {
  transition: all .5s ease;
  color: #6d4d98;
  /* background: #f7f5f9; */
  /* border-radius: 10px; */
}

.nav-dropdown.nav-dropdown-left {
  right: 0
}

.nav-dropdown>li>.nav-dropdown-left {
  left: auto;
  right: 100%
}

.navigation-landscape .nav-dropdown-left>li>a {
  text-align: right
}

.navigation-portrait .nav-dropdown>li>a {
  padding: 12px 30px
}

.navigation-portrait .nav-dropdown>li>ul>li>a {
  padding-left: 50px
}

.navigation-portrait .nav-dropdown>li>ul>li>ul>li>a {
  padding-left: 70px
}

.navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>a {
  padding-left: 90px
}

.navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>ul>li>a {
  padding-left: 110px
}

ul {
  margin: 0;
  padding: 0
}

.nav-dropdown .submenu-indicator {
  right: 15px;
  top: 16px;
  position: absolute
}

.navbar,
nav a {
  position: relative
}

.navigation-portrait .submenu-indicator {
  right: 0;
  top: 0
}

.nav-dropdown .submenu-indicator .submenu-indicator-chevron {
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron {
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.nav-dropdown>.focus>a .submenu-indicator-chevron,
.nav-dropdown>li:hover>a .submenu-indicator-chevron {
  border-color: transparent #0b2d47 #0b2d47 transparent
}

.navigation-landscape .nav-dropdown-left .submenu-indicator {
  left: 10px
}

.navigation-landscape .nav-dropdown-left .submenu-indicator .submenu-indicator-chevron {
  -ms-transform: rotate(135deg);
  transform: rotate(135deg)
}

nav a {
  display: inline-block
}
.nav-menus-wrapper.nav-menus-wrapper-open {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background: #634091;
}
/* end navbar */
.header{
  padding: 10px 0;
}
.header .phone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  flex: auto;
  line-height: 18px;
  margin-right: 10px;
}
.header .phone a, .btn-book a{
  background: #634091;
  color: #fff;
  padding:15px 25px;
  border-radius: 50px;
  display: inline-block;
}
.header .phone i ,.btn-book i{
  color: #f2f2f2;
  font-size: 15px;
  margin-left: 5px;
  text-align: center;
}
.header.header.navbar_fixed .phone a{
  background: #fff;
  color: #634091;
}
.header.header.navbar_fixed .phone i{
  color: #634091;
}
.header .phone span {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: -.2px;
}

.header .phone .phn_number {
  color: #0A2148;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.form-control-submit {
  border: 0px;
  background: #fff;
  font-size: 19px;
  color: #634091;
  border-radius: 50px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 45px;
}

.header  .open_search {
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0px 2px 0px 0px;
  width: 25%;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 3;
}
.header  .open_search.active {
  height: 50px;
}
.header  .open_search .search_form {
  width: 100%;
  max-width: 100%;
}
.search_form{
  position: relative;
}
 .search_form .form-control {
  height: 50px;
  border-radius: 50px;
  padding-left: 35px;
  border: 1px solid rgb(99 64 145 / 23%);
}
.search_form .form-control-submit {
  position: absolute;
  top: 5px;
  left: 5px;
  border: 0px;
  background: #634091;
  padding: 0;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

/*============ sticky menu css ==============*/
header.navbar_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(99 64 145 / 46%);
  backdrop-filter: blur(20px);
  -webkit-box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
  box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
  -webkit-animation: sticky 1s;
  -moz-animation: sticky 1s;
  -o-animation: sticky 1s;
  animation: sticky 1s;
}
header.navbar_fixed .header{
  visibility: visible !important;
}
@-webkit-keyframes sticky {
  0% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%); 
  }
  100% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%); 
  } 
}
@keyframes sticky {
  0% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%); 
  }
  100% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%); 
  } 
}
/* header.navbar_fixed .nav-menu>li>a{
  font-size: 12px;
} */
header.navbar_fixed .top-header{
  position: absolute;
    top: -200px;
    right: 0;
    left: 0;
    transition: transform 0.8s ease .4s;
}
.close_icon {
  position: absolute;
  right: 60px;
  top: 40px;
  color: #7b84a2;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.close_icon:hover {
  color: #fff;
}

.burger_menu {
  width: 40px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #051441;
  margin-left: 25px;
}

/*================= menu_scroll css ================*/
.menu_scroll .container-fluid {
  padding-left: 100px;
  padding-right: 100px;
}

/*====================================================*/

/*============== slider_area css ==============*/

@-webkit-keyframes animateUpDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes animateUpDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}


/*================= main slider css ============*/
.main-slider,
.main_item {
  position: relative;
  overflow: hidden;
  height: 111vh;
}
.main-slider .main_item:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgb(90 68 149 / 20%);
  background:transparent linear-gradient(180deg, rgb(90 68 149 / 90%), rgb(90 68 149 / 70%) 25%, rgb(90 68 149 / 50%) 90%);
}
.banner_top {
  height: 100%;
    display: flex;
    align-items: center;
}
.banner_top h2 {
  font-size: 32px;
  line-height: 40px;
  color: #75e0e3;
  font-weight: 600;
}

.banner_top p {
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  margin: 30px 0;
}

.banner_top .btn-book {
  margin-bottom: 25px;
}
.banner_top .btn-book a{
  padding: 10px 20px;
}

.main_carousel .owl-nav button.owl-prev,
.main_carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 45px !important;
  color: #c1c1d4 !important;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: transparent !important;
}

.main_carousel .owl-nav button.owl-next {
  left: 50px;
}

.main_carousel .owl-nav button.owl-prev {
  right: 50px;
}
.waves{
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  min-height: 100px;
  max-height: 150px;
  z-index: 99;
}
.waves0{
  top: -1px;
  bottom: auto;
  transform: rotate(180deg);
}
@-webkit-keyframes animateUpDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes animateUpDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

/* .parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
} */
/*============ keyframes animation  =============*/
/* @-webkit-keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(2);
    transform: translate(-50%, -50%) scale(2);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(2);
    transform: translate(-50%, -50%) scale(2);
  }
} */

/*=========================start services===========================*/
/* .services {
  background: rgb(9 103 128 / 3%);
} */

.pro-details {
  position: relative;
}

.sec-service .pro-img {
  overflow: hidden;
  border-radius: 10px;
  background: #634091;
}

.sec-service .pro-img img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: .7;
}

.sec-service:hover .pro-img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.pro-info {
  position: relative;
  bottom: 45px;
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
  padding: 10px 15px;
  color: #634091;
  background:#fff;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  border-bottom: 2px solid #634091;
  box-shadow: 0 1px 10px rgb(99 64 145 / 5%);
  text-align: center;

}
.pro-info .pro-title {
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 15px;

}
.pro-info .pro-title a{
  color: #362048;
}
.pro-info .btn-book.sm-book{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: -22px;
}
.pro-info .btn-book.sm-book a{
  padding: 8px 25px;
}
.btn-book .read-more{
  color: #fff;
  background: #6DBABD;
}
.btn-book .read-more i{
  font-size: 11px;
}
 .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev{
  position: absolute;
    top: 35%;
    background: #f1f6fb !important;
    color: #634091 !important;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50px;
    font-size: 10px !important;
 }
 .owl-carousel .owl-nav .owl-next{
  right: 10px;
 }
 .owl-carousel .owl-nav .owl-prev{
  left: 10px;
 }
.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  background: #75e0e3;
  display: inline-block;
  margin: 5px 7px;
  transition: opacity .2s ease;
  border-radius: 30px;
}

.owl-dots .owl-dot.active span {
  background: #634091;
}

.services-page .sec-service {
  margin-bottom: 30px;
}
.border-bottom {
  border-bottom: 1px solid #e9e9e9;
}

textarea {
  resize: none;
}
.rate i.active {
  color: #F9BA48;
}
.serv-title{
  margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
}
.serv_img img{
  border-radius: 25px;
}
.srv-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  opacity: 0;
  transition: all .5s ease;
}
.srv-icon a{
  color: #634091;
  background: #f1f6fb;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 47px;
  font-size: 20px;
}
.sec-service:hover .srv-icon{
  opacity: 1;
  bottom: 0;
}
/*=========================start featured===========================*/
.featured {
  position: relative;
  background: #634091;
  padding: 50px 0;
}
.featured .btn-book a{
  background: #fff;
  color:#634091 ;
}
.featured .btn-book i{
  color:#634091 ;
}
.sub-title {
  color: #75e0e3;
  font-size: 16px;
  line-height: 26px;
}
.main-title {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.featured-item .main-title {
  color: #fff;
  font-size: 28px;
  line-height: 40px
}

.top-title {
  margin-bottom: 25px;
  position: relative;
  padding-bottom: 15px;
  color: #634091;
  font-size: 24px;
  line-height: 43px;
  margin-top: 10px;
  font-weight: 700;
}

.top-title::after {
  position: absolute;
  content: '';
  /* left: 0px; */
  right: 0;
  bottom: 0px;
  width: 60px;
  height: 4px;
  background-color: #75e0e3;
  margin: auto;
}

.sec-p {
  font-size: 17px;
  font-weight: 500;
  line-height: 28px;
  color: #6E7A7A;
}

.featured-item .sec-p {
  color: #fff;
}
.featured-2::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(99 64 145 / 70%);
}
.featured-2 .sub-title{
  font-size: 22px;
}
.featured-2 .featured-item .main-title{
  font-size: 43px;
  font-weight: 600;
  line-height: 55px;
  margin: 20px 0;
}
.learn_btn_two {
  color: #63c3c6;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.featured-item .learn_btn_two {
  color: #CACFEB;
}

.learn_btn_two:before {
  content: "";
  height: 1px;
  width: 0;
  position: absolute;
  left: 0;
  background: #75e0e3;
  bottom: 0;
  -webkit-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.learn_btn_two i {
  font-size: 13px;
  padding-left: 5px;
  vertical-align: middle;
}

.learn_btn_two:hover {
  color: #75e0e3;
}

.learn_btn_two:hover:before {
  width: 100%;
}

.learn_btn_two:hover i {
  padding-left: 10px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}


/*====================================================*/
.side-card{
  background-color: rgb(99 64 145 / 5%);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
}
.side-card li a{
  background: #fff;
  text-align: center;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 14px;
  display: block;
  color: #4b505e;
  font-weight: 600;
  margin-bottom: 15px;
}
.side-card li a:hover,
.side-card li a.active{
  background: #634091;
  color: #fff;
}
/*================= Start breadcrumb_area css =================*/
.breadcrumb_area {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 60vh;
  display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb_area::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: transparent linear-gradient(180deg, rgb(90 68 149 / 90%), rgb(90 68 149 / 70%) 25%, rgb(90 68 149 / 50%) 90%);
}

.breadcrumb_area .breadcrumb_shap {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.breadcrumb_content {
  position: relative;
}

.breadcrumb_content h1 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #fff;
  text-transform: capitalize;

}

.breadcrumb-link li {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  line-height: 32px;
  text-transform: capitalize;

}

.breadcrumb-link li:not(:last-child) {
  margin-right: 6px;
}

.breadcrumb-link li:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  margin-right: 7px;
}

.breadcrumb-link li:first-child::before {
  content: none;
}

.breadcrumb-link li,
.breadcrumb-link li a {
  color: #fff;
}

.breadcrumb-link li a:hover {
  color: #75e0e3;
}

/*============== service_details_area css ==============*/
.about , .wave1{
  position: relative;
}
.wave1::before{
  content: '';
  background: url('../img/shape-147.png') center center / 100% no-repeat;
  /* background: url(../img/Clinika-pattern_top.png) 60% 16% / 252% no-repeat; */
  position: absolute;
  width: 100%;
  top: -171px;
  left: 0;
  right: 0;
  height: 85px;
  z-index: 99;
}
.service_details ul {
  padding-left: 35px;
}

.service_details ul li {
  font-size: 16px;
  font-weight: 400;
  color: #677294;
  position: relative;
  padding-left: 35px;
  margin-bottom: 13px;
}

.service_details ul li i {
  position: absolute;
  left: 0;
  top: 5px;
  color: #096780;
}

.service_details ul li:last-child {
  margin-bottom: 0px;
}

.about_item+.about_item {
  margin-top: 200px;
}

/*=============start about css =============*/
.about_img {
  position: relative;
}

.about_img img {
  position: relative;
  border-radius: 30px;
}

.about_img img:nth-child(1) {
  position: relative;
  /* width: 80%; */
}

.about_img img:nth-child(2) {
  position: absolute;
  bottom: -100px;
  right: 0;
  /* width: 60%; */
  /* border: 10px solid #ffffff;
  box-shadow: 0px 4px 50px 0px rgb(0 0 0 / 15%); */

}

.about_img::before {
  content: "";
  width: calc(100% - 200px);
  height: calc(100% + 7px);
  position: absolute;
  top: 50px;
  left: 75px;
  border: 3px solid #AE61BE;
  animation: zump 2s linear infinite;
  border-radius: 30px;

}
@keyframes zump {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  50% {
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.sec-about{
  position: relative;
  background: rgb(99 64 145 / 5%);
  padding-top: 250px !important;
}
.sec-about .side-card{
  padding: 40px 30px;
}
.sec-about h3{
  font-size: 20px;
    font-weight: 700;
    margin: 15px 0;
}
.side-card p{
  font-size: 15px;
}
.value-det{
  position: relative;
}
.value-card{
  height: 200px;
  padding: 40px 17px !important;
}
.value-card img {
  width: 35px;
}
.value-card h3 {
  display: inline-block;
  margin: 0px 5px;
  font-size: 16px;
}
.value-card p{
  margin-top: 10px;
  font-size: 12px;
  line-height: 24px;
}
#line1 {
  font-size: 0;
  width: 1px;
  height: 50px;
  color: #fff;
  border-left: 2px dashed #6340914a;
  margin: auto;
  margin-top: -30px;
} 
#line2 {
  width: 50%;
  height: 1px;
  color: #fff;
  border-bottom: 2px dashed #6340914a;
  margin: auto;
} 
.ln-width{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#line3 {
  font-size:0;
  display:inline;
  width:1px;
  height:50px;
  color:#fff;
  border-left: 2px dashed #6340914a;
}  
#line4,#line5,#line6 {
  font-size:0;
  display:inline;
  width:1px;
  height:50px;
  color:#fff;
  border-left: 2px dashed #6340914a;
}
.bg-blue{
  background: #75e0e3 !important;
}
.bg-purple{
  background-color: #634091  !important;
}
.bg-purple img{
  filter: brightness(0) invert(1);
}
.bg-purple h3 ,.bg-purple p{
  color: #fff !important;
}
/*====================================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4b505e;
}

p {
  font-size: 16px;
  color: #677294;
}

p span {
  padding: 3px 8px;
}

/*====================================================*/
/*====================start doctors================================*/
.doctors{
  position: relative;
  background: rgb(99 64 145 / 5%);
  padding: 150px 0 180px;
}

.sec-doctor{
  background-color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
}

.doctors .doc-img img{
  border-radius: 50%;
  border: 8px solid #f1f6fb;
}
.doc-info{
  margin-top: 20px;
}
.doc-title a{
  color: #3b2314;
  font-weight: 700;
  font-size: 17px;
}
.doc-info p{
  color: #634091;
  font-size: 14px;
}
.sm-book a{
  padding: 3px 12px;
  font-size: 12px;
}
.sec-doctor:hover .doc-img img{
  border: 8px solid #634091;
  transition: all .5s ease;
} 
.doctors .owl-carousel .owl-nav .owl-next,.doctors .owl-carousel .owl-nav .owl-prev{
  top: 50%;
}
.doctors-details .sec-doctor{
  background-color: rgb(99 64 145 / 5%);
}
.doctors-details .doc-img img{
  border: 8px solid #6340913b;
}
.profile-info{
  display: flex;
  justify-content: space-between;
}
.profile-info .doc-title a{
  font-size: 25px;
  line-height: 37px;
}
.profile-info p{
  font-weight: 700;
}
.pos-list{
  margin:20px 0;
  padding:0;
  display:inline-block;

}
.pos-list li{
  list-style: none;
  margin:auto;
  margin-right:15px;
  min-height:50px;
  border-right:2px dashed #63409147;
  padding:0 30px 30px 0;
  position:relative;
  font-weight: 700;
}
.pos-list li:last-child{ border-right:0;}
.pos-list li::before{
  position: absolute;
  right: -16px;
  top: 0;
  content: " ";
  border: 7px solid rgba(255, 255, 255, 0.74);
  border-radius: 50%;
  background: #634091;
  height: 30px;
  width: 30px;
  transition: all 500ms ease-in-out;

}
.pos-list li:hover::before,
.pos-list li.active::before{
  border-color: #ddf4f5;
  transition: all 1000ms ease-in-out;
  background: #75e0e3;
}
.pos-list li.active{
  color:#75e0e3 ;
}
.sticky{
  position: sticky;
  top: 100px;
  align-self: self-start;
}
/*========================end doctor============================*/
/*========================start review============================*/
.reviews{
  padding-top: 0;
}
.sec-review{
  position: relative;
    background: rgb(99 64 145 / 5%);
    /* background: url(../img/download.png); */
    padding: 45px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
}
.reviews .item {
  padding: 5px;
}
.rev-details {
  border-bottom: 1px solid #cdc7dfc2;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.rev-details img{
  width: 45px !important;
  margin-bottom: 20px;
}
.rev-details i{
  color: #634091;
font-size: 40px;
margin-bottom: 20px;

}
h5.rev-title {
  font-size: 20px;
  font-weight: 700;
  color: #634091;

}
.rate{
  color: #ccc;
}

/*========================end review============================*/
/*========================start blog============================*/
.blogs{
  background: rgb(99 64 145 / 5%);
}
.blog-details{
  display: flex;
  align-items: stretch;
  flex-direction: row;
  box-shadow: 0 5px 15px #63409114;
  border-radius: 10px;
  margin-bottom: 30px;
  height: 230px;
  overflow: hidden;
  background: #fff;
  padding: 10px;
}
.blog-details .blog-img {
width: 40%;
} 
.blog-details .blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:7px;
}
.blog-details .blog-info {
padding: 15px 20px;
width: 66.66%;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
}
.bl-info {
  margin-top: 10px;

}

.blog-details h4 a,
.blog-details h5 a {
  color: #5a4495;
  font-size: 18px;
  font-weight: 700;
}
  .bl-title{
    margin-bottom: 10px;
  }
  .bl-address {
    color: #787878;
    font-size: 14px;
    margin: 0;
    display: inline-block;
      margin-left: 50px;
  }
  .bl-time{
    font-size: 12px;
  }
  .bl-time i {
    color: #6DBABD;
    margin-left: 5px;
    font-size: 11px;
  }
  .bl-info{
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
  }
 .blog-page .blog-details{
border: 1px solid #f1f1f1;
 }
 .blog-side .blog-details{
  height: 110px;
  box-shadow: none;
  margin: 0;
  padding: 10px 0;
 }
 .blog-side .bl-title {
  margin-bottom: 5px;
}
.blog-side .blog-details h4 a{
  font-size: 15px;
  line-height: 24px;
  display: block;
}
.det-img img{
  border-radius: 10px;
}
.blog-title{
  color: #634091;
  font-size: 24px;
  line-height: 43px;
  margin-top: 10px;
  font-weight: 700;
}
.blog-side .top-title,.sm-title
{
  font-size: 20px;
  line-height: 40px;
  padding-bottom: 5px;
}
/*========================end blog============================*/


/* start call banner */
.call-banner {
  margin-bottom: -113px;
  position: relative;
  z-index: 9;
}

.call-banner .banner_content {
  background: #75e0e3;
  border-radius: 8px;
  padding: 40px;

}

.banner_content .banner_text {
  padding-left: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #fff;
}

.banner_content .banner_text img {
  margin-right: 20px;
}

.banner_form form{
  position: relative;
  overflow: hidden;
}
.btn-subscribe{
  background: #634091;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  max-width: 120px;
  width: 100%;
  border-radius:  50px 0 0 50px ;
  padding: 18px 20px;
  font-weight: 700;

}
.btn-subscribe:hover{
  background: #35c7df;
}
.banner_form form .form-control{
background: rgba(0,0,0,.05);
color: #888;
border-radius: 0 50px 50px 0;
display: inline-block;
float: none;
text-transform: none;
width: calc(100% - 120px);
margin: 0;
padding: 20px 15px;
height: 58px;
border: none;
font-size: 14px;

}
/* end call banner */
/* start footer */
footer {
  background: rgba(4, 32, 56, 0.95) url(../img/solutions-bg-2-1.jpg) center bottom / cover no-repeat;
  position: relative;
  color: #fff;
  padding-top: 70px;
}
footer::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:rgb(99 64 145 / 95%);
}

footer a {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #CACFEB;
  text-decoration: none;
  letter-spacing: -.2px;
}

footer a:hover {
  color: #75e0e3;

}

.footer-link ul>li {
  width: 50%;
  /* padding-right: 10px; */
  float: left;
  margin-bottom: 10px;
  transition: all .3s ease;
  text-transform: capitalize;

}

.footer-link ul>li:hover {
  padding-left: 10px;
  transition: all .3s ease;


}

.footer-link ul>li i {
  padding-left: 5px;
  color: #75e0e3;
}

.md-footer {
  padding: 100px 0 90px;
  font-size: 14px;
}

.footer .social li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #634091;
  display: inline-block;
  text-align: center;
  background: #75e0e3;
  margin: 0 2px;
  border-radius: 50%;
  font-size: 15px;
}

.social li a:hover {
  background: #f0f0f0;
  color: #75e0e3;
  transition: all 0.2s linear 0s;
  transform: translateY(-5px);
}

.footer-sec1 .widget_content p {
  margin-top: 12px;
  color: #CACFEB;

}

.ft-logo img {
  /* max-width: 90px; */
  margin-bottom: 30px;
}

.contact-details-alt li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 26px;
  color: #CACFEB;
}

.widget_content .contact-details-alt i {
  padding-right: 5px;
  color: #75e0e3;

}

footer li i {
  margin-left: 0;
  font-size: 16px;

}

.widget_title h4 {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: capitalize;
  letter-spacing: 0px;
  color:#fff;
  margin-bottom: 30px;
}

.ft-link li {
  margin-bottom: 7px;
}

.ft-link li i {
  font-size: 12px;
  margin-right: 5px;
  color: inherit
}

.ft-info {
  background: rgba(255, 255, 255, 0.08);
  clear: both;
  padding: 30px;
  margin-bottom: 25px;
}

.footer_bottom {
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, .3) !important;
  position: relative;
  font-size: 14px;
  background: #634091;
}

.footer_bottom p {
  color: #fff;
  font-size: 14px;
}

.footer_bottom a {
  color: #75e0e3  !important;
}

#back-to-top,.cart {
  position: fixed;
  bottom: 25px;
  right: 20px;
  width: 50px;
  height: 50px;
  color: #634091;
  text-align: center;
  z-index: 350;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .17);
  box-shadow: 0 0 5px rgba(0, 0, 0, .17);
  background-color: #75e0e3;
  line-height: 50px;
  font-size: 20px;
  transition: all 0.3s linear 0s;
  cursor: pointer;

}

#back-to-top:focus,
#back-to-top:hover {
  background-color: #fff;
  color: #75e0e3;
  transition: all 0.3s linear 0s;

}

/* end footer */


.pagescroll_btn {
  width: 44px;
  height: 44px;
  border: 1px solid #1d1d42;
  font-size: 16px;
  color: #00aff0;
  text-align: center;
  line-height: 44px;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -22px;
  background: #121233;
}


/*=============== footer_area_four css =============*/
.footer_area_four {
  background: rgba(4, 32, 56, 0.95) url(../img/bg2.png) center center / cover no-repeat;
  position: relative;
}

/*=============== start contact us =============*/
.contact-us .main-title {
  margin-bottom: 0;
}

.contact-us .sec-p {
  margin-bottom: 50px;
}

.contact-form {
  padding-right: 40px;
  margin-bottom: 50px;
}

.contact li {
  position: relative;
  color: #6E7A7A;
  font-size: 15px;
  font-weight: 400;
  padding-left: 70px;
  margin-bottom: 40px;
}

.contact li a,
.contact li p {
  color: #6E7A7A;
}

.contact .con-icon {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  width: 48px;
  height: 48px;
  font-size: 22px;
  line-height: 48px;
  text-align: center;
  border: 1px dashed #634091;
  color: #634091;
}

.contact .con-content h4 {
  font-weight: 700;
  color: #1f2a30;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.contact .con-content p {
  color: #6E7A7A;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.contact .form-group {
  margin-bottom: 30px;
}

/*=============== end contact us =============*/
/* ======== start our-gallery ======= */
/* .our-gallery {
  background: rgb(127 180 226 / 12%);

} */

.ps-service__gallery .item {
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.ps-service__gallery .item img {
  width: 100%;
  height: auto;
  transform: scale3d(1.1, 1.1, 1);
  transition: all 0.5s linear;

}

.ps-service__gallery .item:hover img {
  transform: scale(1.25);
}

.ps-service__gallery .item .inner-content {
  color: #fff;
  width: 100%;
  position: absolute;
  bottom: -16%;
  left: 0;
  transition: all .5s ease;
  padding: 100px 20px 20px;
  background: linear-gradient(transparent, #096780 95%, #096780);
}

.ps-service__gallery .item:hover .inner-content {
  opacity: 1;
  bottom: 0;
}

.ps-service__gallery .item .title {
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 40px;
  color: #fff;
  text-transform: capitalize;

}


.ps-service__gallery .item .title span {
  display: block;
  font-size: 40px;
  margin-bottom: 20px;
}

@media only screen and (max-width:990px) {
  .ps-service__gallery .item {
    margin: 0 0 30px;
  }
}

.lg-backdrop {
  background-color: rgb(0 0 0 / 70%);
}

.lg-outer .lg-thumb-outer {
  background-color: rgb(0 0 0 / 80%);
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item {
  transition: all .3s ease;
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
  border: 4px solid#096780;

}

.lg-outer .lg-thumb {
  margin: auto;
}
.lg-outer .lg-video-cont{
  width: 50%;
}
.pagination-div {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}
.pagination {
  margin-bottom: 0px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.pagination li {
  margin-right: 10px;
}
.pagination li a {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 44px;
  display: block;
  color: #634091;
  border: 1px solid #634091;
  border-radius: 50%;
}
.pagination li a.page-number {
  background: #f5f2f4;
  color: #634091;
  border: 1px solid transparent;
}
.pagination li a:hover, .pagination li a.current {
  background: #634091;
  color: #fff;
}
/* ======== end our-gallery ======= */
/* ======== start clients ======= */
.clients .item{
  padding: 15px;
    background: rgb(99 64 145 / 5%);
    border-radius: 10px;
    box-shadow: 0 5px 15px #63409114;
}
.client-img{
  padding: 10px;
  width: 170px;
  margin: auto;
}
/* ======== end clients ======= */
.search-title{
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 40px;
}
/* ======== start offers ======= */
.sec-offer{
  background-color: rgb(99 64 145 / 5%);
  border-radius: 15px;
  padding: 10px 10px 20px;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden;
}
.sec-offer .offer-img{
  margin-bottom: 20px;
  position: relative;
}
.sec-offer .offer-img img{
  border-radius: 10px;
  width: 100%;
}
.off-title a{
  color: #634091;
  font-weight: 700;
  font-size: 17px;
}
.off-info .price{
  color: #35c7df;
  font-weight: 700;
  font-size: 20px;
}
.off-info .price span{
  color: #7397a9;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
}
.btn-offers a{
  padding: 10px 25px;
}
.sm-font{
  font-size: 15px;
  line-height: 27px;
}

.form-check{
  padding: 0;
  display: flex;
  align-items: center;
}
.form-check span{
  padding: 0 10px;
}
.form-check span a{
  color: #634091;
  font-weight: 700;

}
.form-check label { 
  display: inline-block;
  cursor: pointer;
  margin: 0;
  width: 25px;
  height: 25px;
  /* border: 3px solid #75e0e3; */
  background: #efecf4;
  border-radius: 12.5%;
  transition: 400ms 100ms ease-out;
  position: relative;
}
.form-check label:hover {
  background: #634091;
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  /* left: -1000px; */
}
.mark {
  opacity: 0;
  background: transparent;
  font-size: 17px;
    padding: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #634091;
}
input[type="checkbox"]:checked + label .mark {
  opacity: 1;
  color: #fff;
  background: #634091;
}
input[type="checkbox"]:focus + label {
  animation: 400ms linear cb-pop;
}
@keyframes cb-pop {
  0% { transform: scale(1); }
  33% { transform: scale(0.9); }
  66% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
.search-card{
  padding: 10px;
  border-radius: 50px;
}
.card-radio-btn .content_head {
  color: #634091;
  font-size: 15px;
  line-height: 27px;
  font-weight: 700;
}

.card-radio-btn .content_sub {
  color: #9e9e9e;
  font-size: 14px;
}

.card-input-element + .card {
  min-width: 125px;
  height: 50px;
  margin: 0 0 0 20px;
    justify-content: center;
    color: #75e0e3;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #634091;
    border-radius: 30px;
    text-align: center;
    background: #f7f5f9;
}

.card-input-element + .card:hover {
  cursor: pointer;
}
.card-input-element:checked + .card .content_head {
  color: #fff;
}

.card-input-element:checked + .card {
  background: #634091;
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}

/* .card-input-element:checked + .card::after {
  content: "\f058";
  color: #fff;
  position: absolute;
  right: 5px;
  top: 5px;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: fadeInCheckbox;
  animation-name: fadeInCheckbox;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* @-webkit-keyframes fadeInCheckbox {
  from {
    opacity: 0;
    -webkit-transform: rotateZ(-20deg);
  }

  to {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
  }
}

@keyframes fadeInCheckbox {
  from {
    opacity: 0;
    transform: rotateZ(-20deg);
  }

  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
} */

/* ======== end offers ======= */
/* ======== start contant us ======= */
.side-contact {
  background-color: #fff;
  padding: 60px 15px 30px;
  border-radius: 10px;
  margin-bottom: 60px;
  position: relative;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
}

.Branch {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  width: 50%;
  margin: auto;
  text-align: center;
  background: #634091;
  color: #fff;
  padding: 10px;
  border-radius: 30px;
}
.address{
  display: flex;
  align-items: center;
}
.icon{
  position: relative;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 5px 10px;
  border: 1px solid #efecf4;
  border-radius: 50%;
  padding: 5px;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  text-align: center;
  flex: none;
}
.icon span{
  display: inline-block;
  height: 100%;
  width: 100%;
}
.icon span::before{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: #efecf4;
  border-radius: 50%;
  color: #634091;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  z-index: 1;
  transition: all 200ms linear;
  transition-delay: 0.1s;
}
.icon span:after{
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  content: "";
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.0);
  transform-origin: center;
  transform-style: preserve-3d;
  transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
  background: #efecf4;
}
.con-phone a{
  color: #677294;
}
/* ======== end contant us ======= */
ul.terms{
  list-style: disc;
  padding-right: 15px;

}
ul.terms li{
  margin-bottom: 20px;
  font-size: 16px;
}
.thanks-title{
  border: 2px dashed #634091;
    color: #634091;
    font-weight: 600;
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding: 3%;
    margin-bottom: 30px;
    line-height: 1.4;
}
.thanks-title::after {
  content: none;
}
/* ========= start products =========== */
.sec-product{
  padding: 0 0 20px;
}
.sec-product .offer-img img{
  border-radius: 10px 10px 0 0;
}
.sec-product .btn-book .read-more i {
font-size: 18px;
margin: 0;
color: #fff;
}
.sec-product .btn-book .read-more{
  width: 50px;
    height: 50px;
    text-align: center;
    padding: 0;
    line-height: 55px;
    margin: 0 5px;
}
.pro-form{
  margin-bottom: 30px;
}
.pro-form .custom-select {
  background-color: #fff !important;
  border: 1px solid #bbbbbb;
}
.off-info .price-sale{
  text-decoration: line-through;
  font-size: 12px;
  color: #7397a9;
  margin-top: -20px;
  padding: 0 5px;
}
.sale span{
  position: absolute;
    top: 10px;
    right: 10px;
    background: #f8353e;
    /* background: #ffc107; */
    color: #fff;
    font-size: 12px;
    padding: 0px 10px;
    border-radius: 30px;
}
.off-info p span{
  padding: 0;
}
.number {
  margin: 0px 0 20px 20px;
  border-radius: 50px;
  position: relative;
  height: 55px;
  float: right;
  display: flex;
  background: #f7f5f9;
  padding: 5px 15px;
  align-items: center;
}

 .number .minus,
 .number .plus {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #634091;

}

 .number input {
  text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0;
    vertical-align: middle;
    outline: 0;
    border: 0;
    background: transparent;
    width: 50px;
    color: #634091;
}
.number span {
  cursor: pointer;
}
.btn-book.m-btn .read-more{
  margin: 0 20px;
}
.products .owl-carousel .owl-nav .owl-next,.products .owl-carousel .owl-nav .owl-prev{
  background: #fff !important;
}
/* ========= end products =========== */
/* ========= start checkout =========== */
.sec-checkout{
  display: flex;
  gap: 20px;
  text-align: initial;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
}
.sec-checkout .off-details{
  flex: 0 0 22%;
}
.sec-checkout .offer-img{
  margin: 0;
}
.sec-checkout .number{
  margin: 0;
  /* background: #efecf4; */
}
.sec-checkout .off-info{
  flex: auto;
}
.delete{
  position: absolute;
  top: -10px;
  left: -10px;
}
.delete a{
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #75e0e3;
  color: #fff;
  border-radius: 50%;
  display: block;
  text-align: center;
}
.total-title{
  color: #634091;
    font-weight: 700;
    font-size: 17px;
}
.cart{
  left: 20px;
  right: auto;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 25px;
  background: #634091;
  color: #fff !important;
}
.cart span{
  display: block;
    position: absolute;
    top: -5px;
    right: 0px;
    background: #75e0e3;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    font-weight: 700;
}
/* ========= end checkout =========== */